<section class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p>I'm an Argentine web developer, currently based in Rosario, Argentina. I am a graduated software engineer from <a href="http://www.frro.utn.edu.ar/" target="_blank">UTN-FRRO</a>. I am one of the founders of <a href="https://polluxcoop.com">Pollux</a>, and I also work as a senior PHP developer at <a href="https://www.brightvessel.com/" target="_blank">Brightvessel</a>. I kinda love computer stuff, I consider myself curious and I like learning and starting new things. Want to know more?. Take a look at my profile in <a href="http://ar.linkedin.com/pub/sergio-milardovich/5b/462/511" target="_blank">LinkedIn</a>.</p>  
</section>
<hr/>
<!--
<section class="contact-form">
    <h4>Contact Me</h4>
    <form>
        <div class="form-group">
          <input class="form-control form-control-sm" type="email" placeholder="Your E-mail">
        </div>
        <div class="form-group">
            <textarea class="form-control form-control-sm"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
</section>-->