<section class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p>I'm an Argentine web developer, currently based in Rosario, Argentina. I am a graduated software engineer from and professor at <a href="http://www.frro.utn.edu.ar/" target="_blank">UTN-FRRO</a>. I am one of the founders of <a href="https://polluxcoop.com" target="_blank">Pollux</a>. I kinda love computer stuff, I consider myself curious and I like learning and starting new things. Want to know more?. Take a look at my profile in <a href="http://ar.linkedin.com/pub/sergio-milardovich/5b/462/511" target="_blank">LinkedIn</a>.</p>  
</section>
<hr/>